<aside>

    <div class="fb-page" data-href="https://www.facebook.com/bigdatacolombia" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/bigdatacolombia"><a href="https://www.facebook.com/bigdatacolombia">Big Data Colombia</a></blockquote></div></div>

    <a class="twitter-timeline" href="https://twitter.com/bigdatacolombia" data-widget-id="616005020413243393">Tweets por el @bigdatacolombia.</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <iframe width="300" height="570" src="http://meetu.ps/2KfYVK" frameborder="0"></iframe>
    <iframe width="300" height="570" src="http://meetu.ps/2KfYV0" frameborder="0"></iframe>

</aside>